# Library API
LIBRARY_API_URL=https://libraryapi.n1.tachy.one
PLATFORM_ID=tn_01j91h09tpj5ehwbwfwfxpak2b

# Library API - Organization & Repository
LIBRARY_ORG_USERNAME=
LIBRARY_REPO_USERNAME=

# Site URL (for sitemap and OGP)
NEXT_PUBLIC_SITE_URL=https://docs.txcloud.app
